.table {
  width: 400px;
  min-height: 400px;

  border-spacing: 0;

  &--div {
    display: table;
  }
}

.table__row--div {
  display: table-row;
}

.table__cell--div {
  display: table-cell;
  padding-top: 84px;
  padding-bottom: 84px;
}
