$green1: #aac6aa;
$gray1: #b2b2b2;
$gray2: #a2a2a2;
$green2: #bbf0aa;
$green3: #88c688;
$green4: #55c655;
$green5: #22a444;
$green6: #ccffbb;
$green7: #44c644;
$green8: #22b922;
$white: #ffffff;
$red: red;
